:root {
    --bs-primary: #e5c08b;
    --bs-primary-rgb: #e5c08b;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    /* add font */
    font-family: "Poppins", sans-serif;
    background-color: rgb(237, 238, 240);
}
